div{
	border: 1px solid #215EAD;
	padding: 1px;
}
#userQ,.userForm{
	width: 60%;
	margin: 0 20%;
}
.opts{
	padding: 10px;
	display: inline-block;
	
}
.queryOpt{
	background: green;
}
ul{
	list-style-type:none;
	padding:0;
	margin:0;
	background-color:#f1f1f1;
}
.colName div,.userinfo{
	padding: 10px;
	display: inline-block;
	width: 150px;
} 
#openDiv{
	background: #C0C0C0;
	display: none;
	position: absolute;
	width: 30%;
	height: auto;
	margin:10% 35% ;
	z-index: 1;
}
.userDes{
	display: inline-block;
	width: 60px;
}
