#bgmanage{
	height: 1000px;
	width: 60%;
	min-width: 1024px;
	height:auto;
	margin:auto;
}
#blockLeft{
	float:left;
	width:19%;
	height:99%;
	}
#blockRight{
	float:right;
	width:80%;
	height:99%;
	}
.bgManage{
	height: 99%;
}
.navigations{
	color:#000;
	width:100%;
	height:40px;
}
.emptyblock{
	height: 50px;
}
.detail{
	height: 89%;
}
.priviCls{
	width: 120px;
}
